
body {
    margin: 0;
      font-family: Arial, Helvetica, sans-serif;
}

.nav {
  position: relative; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e9e9e9;
  padding: 1rem 2rem;
  color: rgb(3, 3, 3);
  z-index: 10;
}

.nav a {
  text-decoration: none;
}

.titulo {
  font-size: 40px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin: 0;

}

.links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin: 0;
  padding: 0;
}

.links a,
.links button {
  background: none;
  border: none;
  color: #000000;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
}

.links a:hover,
.links button:hover {
  color: rgb(0, 0, 0);
}

.iconoCarrito img {
  width: 24px;
}

.iconUser img {
  width: 35px;
  margin-top: 3px;
}

.cart-count {
  background: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 0.7rem;
  padding: 2px 5px;
  border-radius: 50%;
  margin-left: 0px;
  font-weight: 700;
}

.modal {
  position: absolute;
  top: 70px; 
  right: 20px; 
  background-color: #f5f5f5;
  color: #000;
  padding: 1rem;
  width: 250px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  z-index: 20;
}


.cart-sidebar {
  position: absolute;
  top: 70px; 
  right: 20px;
  background-color: #f5f5f5;
  color: #000;
  padding: 1rem;
  width: 250px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  z-index: 20;
  max-height: 300px; 
  overflow-y: auto;
}


.modal-contenido h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.modal-contenido p {
  font-size: 0.9rem;
  margin: 0.25rem 0;
}

.mostrar {
  border: none;
  background: none;
  color: #2f2f2fbd;
}

.mostrar:hover {
  color: #1c1c1c;
  transition: 0.5s ease;
}

.cerrar {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0.5rem;
}

.cerrar:hover {
  background-color: #333;
}

.cart-sidebar h2,
.cart-sidebar h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.cart-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0 0 1rem 0;
}

.cart-sidebar li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.25rem;
}

.cart-sidebar button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}

.cart-sidebar button:hover {
  background-color: #333;
}

.close-sidebar {
  position: absolute;
  right: 20px;
}

.portada img {
    object-fit: cover;
    width: 100%;
    height: 500px;
}


.filtro-precio {
    background-color: #fff;
    margin: 0px;
    padding: 20px;
    padding-left: 5px;
}


.cart-header ul li button {
  background:none;
  color: #000000;
  font-weight: 600;
}

.cart-header ul li button:hover {
  background: none;
  color: #424242;
}